/** Base CSS file. Defaults for website. */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html, body, h1, h2, h3, p, img, div {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  background-color: #ffffff;
  padding-left: 2vw;
  padding-right: 2vw;
}

/** Headers use Open Sans. */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 4em;
  color: black;
}

h2 {
  font-weight: 600;
  font-size: 3em;
  color: #2e576d;
}

h3 {
  font-weight: 600;
  font-size: 2.4em;
  color: #317d84;
}

h4 {
  font-size: 1.5em;
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: black;
}

/** Text uses Raleway. */
p {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 1.25em;
}

input {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: black;
  -webkit-appearance: none;
  border-radius: 0.25em;
}

button {
  cursor: pointer;
}

.logo {
  height: 2.5em;
  width: 2.5em;
  margin: 1.25em 0 1.25em 0;
}

.title {
  font-weight: 600;
  color: #2e576d;
}

.section-div {
  max-width: 60em;
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
  float: none;
}

.header-icon {
  width: 1.75em;
  height: 1.75em;
  vertical-align: middle;
}

.header-content {
  margin: 2em 0 4em 0;
}

.header-title {
  font-size: 2em;
  font-weight: normal;
  color: black;
  margin: 0.5em 0 0.5em 0;
}

.header-text {
  margin-left: 0.75em;
}

.about-paragraph {
  margin-bottom: 1.5em;
}

.about-paragraph:last-child {
  margin-bottom: 0;
}

.date-span {
  font-weight: 300;
  font-size: 0.75em;
  color: black;
  padding-left: 0.625em;
}

.mono-skills-list {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  color: black;
  margin: 0.5em 0 0.5em 0;
}

.read-more-button {
  color: #515151;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
}

.read-more-button:hover {
  color: #317d84;
}

.read-more-button:focus {
  outline: none;
}

.experiences {
  padding-left: 1em;
}

.history-list {
  padding-left: 1em;
  padding-bottom: 1em;
  list-style-type: none;
  position: relative;
}

.history-list:after {
  content: url('https://storage.googleapis.com/jackarendt-website/img/circle.svg');
  position: absolute;
  left: -20px;
  width: 25px;
  height: 25px;
  top: 15px;
  margin-top: 20px;
}

.history-list:before {
  content: "";
  position: absolute;
  left: -10px;
  border-left: 0.25em solid #2e576d;
  height: 100%;
  width: 1px;
}

.history-list:first-child:before {
  top: 35px;
}

.history-list:last-child:before {
  height: 35px;
}

dl.skills {
  display: -webkit-box;
  display: flex;
  background: white;
  flex-direction: column;
  width: calc(100% - 7em - 1em);
  max-width: 45em;
  position: relative;
  margin-bottom: 0;
}

.text {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: center;
  height: 1.5em;
  width: 7em;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  vertical-align: middle;
}

.percentage {
  font-size: 1.25em;
  line-height: 1;
  width: 100%;
  height: 1.5em;
  margin-left: 7em;
  padding-left: 1em;
}

.percentage:after {
  content: "";
  display: block;
  background-color: white;
  height: 90%;
}

.item-0:after {
  background-color: #2e576d;
}

.item-1:after {
  background-color: #2c6f76;
}

.item-2:after {
  background-color: #266267;
}

.item-3:after {
  background-color: #215459;
}

.item-4:after {
  background-color: #1c474b;
}

.item-5:after {
  background-color: #16393c;
}

.item-6:after {
  background-color: #112c2e;
}

.item-7:after {
  background-color: #0c1e20;
}

.projects-container {
  margin: 0.5em 0 1.5em 0;
}

.projects {
  width: 25vw;
  height: 25vw;
  float: left;
  text-align: left;
  border: none;
  font-size: 1em;
  -webkit-appearance: none;
  text-decoration: none;
  align-items: flex-start;
  box-sizing: border-box;
  display: inline-block;
}

.projects:focus {
  outline: none;
}

.projects-content {
  padding: 2em 0.75em 0.75em 0.75em;
  position: relative;
  margin: auto;
}

.project-image {
  width: 7.5vw;
  height: 7.5vw;
  max-width: 6em;
  max-height: 6em;
  margin: 0 auto 0 auto;
  display: block;
}

.projects.dark {
  background: #e5e5e5;
}

.projects.light {
  background: #f9f9f9;
}

.projects:hover {
  background-color: #dbdbdb;
}

.rounded-corners {
  border-radius: 0.5em;
}

.more-text {
  font-size: 2.4em;
  text-align: center;
  margin-top: 0.5em;
}

.contact-description {
  width: calc(50% - 1.5em);
  float: left;
  padding: 1.5em 1.5em 0 0;
}

.contact-form {
  width: calc(50% - 1.5em);
  float: left;
  padding: 1.5em 0 0 1.5em;
  box-shadow: none;
}

.contact-form-input {
  margin-bottom: 0.75em;
  background: #f9f9f9;
  padding: 5px;
  width: 100%;
  border: #b4b4b4 1px solid;
}

.contact-form-input:focus {
  outline: none;
  border-color: #2e576d;
}


textarea.contact-form-input {
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  height: 10em;
  box-shadow: none;
  border-radius: 0.25em;
  -webkit-appearance: none;
  text-decoration: none;
}

.contact-form-submit {
  background: #2e576d;
  width: 60%;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  color: white;
  border-radius: 0.25em;
  height: 2em;
  margin: auto;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.contact-form-submit:hover {
  background: #317d84;
}

.contact-form-submit:focus {
  outline: none;
}

.contact-button {
  float: left;
  height: 3em;
  width: 3em;
  margin-right: 2em;
  border: none;
  font-size: 1em;
}

.contact-button:focus {
  outline: none;
}

.contact-buttons {
  clear: both;
  list-style-type: none;
  -webkit-padding-start: 0;
}

#instagram {
  background: url('https://storage.googleapis.com/jackarendt-website/img/instagram-icon.svg');
}

#linkedin {
  background: url('https://storage.googleapis.com/jackarendt-website/img/linkedin-icon.svg');
}

#email {
  background: url('https://storage.googleapis.com/jackarendt-website/img/email-icon.svg');
}

#github {
  background: url('https://storage.googleapis.com/jackarendt-website/img/github-icon.svg');
}

.footer {
  clear: both;
  height: 5em;
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
  h5 {
    font-size: 1.5em;
  }

  .projects {
    width: 31vw;
    height: 31vw;
  }

  .projects-content {
    padding-top: 0.5em;
  }

  .project-description {
    font-size: 1em;
  }

  .contact-description {
    float: none;
    width: 100%;
  }

  .contact-form {
    padding: 5em 0 0 0;
    width: calc(100% - 10px);
    float: none;
  }
}

@media screen and (max-width : 767px) {
  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.8em;
  }

  .contact-description {
    float: none;
    position: relative;
    width: 100%;
    padding: 0;
  }

  .contact-form {
    padding: 5em 0 0 0;
    float: none;
    position: relative;
    width: calc(100% - 10px);
  }

  .contact-buttons {
    text-align: center;
  }

  .section-div {
    max-width: 96vw;
  }

  .header-title {
    font-size: 1.5em;
  }

  .date-span {
    display: block;
    padding-left: 0em;
  }

  .projects {
    float: none;
    width: 92vw;
    height: 92vw;
  }

  .projects-content {
    padding-top: 3em;
  }

  a:-webkit-any-link {
    color: inherit;
  }

  .project-image {
    width: 25vw;
    height: 25vw;
  }

  .percentage {
    font-size: 1em;
  }
}
